.row {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tile {
    padding: 0.5rem;
    width: 3vh;
    height: 3vh;
    min-height: 2rem;
    min-width: 2rem;
    border: solid black 1px;
    display: flex;
}

.black {
    background-color: darkslategrey;
}

.white {
    background-color: whitesmoke;
}

.selected {
    background-color: yellowgreen;
}

.been {
    background-color: lightblue;
}

.board {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: column;
    border: solid black 2px;
    margin: 0.5rem;
    max-width: fit-content;
}

.knight {
    min-width: 2rem;
    min-height: 2rem;
    transition: all 1s;
    width: 3vh;
    height: 3vh;
}

.info {
    margin: 0.5rem;
    font-size: 1.5rem;
}

.controls {
    margin: 0.5rem;
}

.title {
    text-shadow: 3px 3px 0 #828685;
    vertical-align: middle;
    text-align: center;
  }
  
  .title-img {
    vertical-align: middle;
  }
  
  .title-img:hover {
    filter: drop-shadow(0 0 0.2em #828685);
  }