.row {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tile {
    padding: 0.5rem;
    width: 3vh;
    height: 3vh;
    min-height: 2rem;
    min-width: 2rem;
    border: solid black 1px;
    display: flex;
    cursor: pointer;
}

.black {
    background-color: darkslategrey;
}

.white {
    background-color: whitesmoke;
}

.selected {
    background-color: yellowgreen;
}

.been {
    background-color: lightblue;
}

.board {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: column;
    border: solid black 2px;
    margin: 0.5rem;
    max-width: fit-content;
}

.knight {
    min-width: 2rem;
    min-height: 2rem;
    transition: all 1s;
    width: 3vh;
    height: 3vh;
}

.info {
    margin: 0.5rem;
    font-size: 1.5rem;
}

.controls {
    margin: 0.5rem;
}

.title {
    text-shadow: 3px 3px 0 #828685;
    vertical-align: middle;
    text-align: center;
}

.title-img {
    vertical-align: middle;
}

.title-img:hover {
    filter: drop-shadow(0 0 0.2em #828685);
}

@media (prefers-color-scheme: light) {
    .path-item {
        color: rgba(255, 255, 255, 0.5);
    }

    .path-arrow {
        color: rgba(255, 255, 255, 0.5);
    }
}

@media (prefers-color-scheme: dark) {
    .path-item {
        color: rgba(26, 26, 26, 0.87);
    }

    .path-arrow {
        color: rgba(26, 26, 26, 0.87);
    }
}


.info-path {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.path-item {
    transition: 0.3s color ease-in-out;
}

.path-arrow {
    transition: 0.8s color ease-in-out;
}

.been-list {
    color: lightblue;
}


.reset-btn:hover {
    border: 1px solid lightcoral;
}

.reset-btn {
    background-color: rgb(240, 128, 128, .15);
    font-weight: 300;
}

.find-btn:hover {
    border: 1px solid rgb(0, 128, 0);
}

.find-btn {
    background-color: rgb(0, 128, 0, .15);
    font-weight: 300;
}